<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Admin panel</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.css}"/>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">Welcome</a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a aria-current="page" class="nav-link active" href="#">
                                <span th:text="${currentUser.login}"></span>
                            </a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <a href="/logout">Logout</a>
                    </form>
                </div>
            </nav>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li aria-current="true" class="list-group-item">
                    <a href="/admin">Admin</a>
                </li>
                <li aria-current="true" class="list-group-item">
                    <a href="/user">User</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs" id="panelTab" role="tablist">
                <li class="nav-item">
                    <a aria-controls="home-tab-pane" aria-selected="true" class="nav-link active"
                       data-bs-target="#userList" data-bs-toggle="tab" id="tab1" role="tab" type="button">User table</a>
                </li>
                <li class="nav-item">
                    <a aria-controls="home-tab-pane" aria-selected="true" class="nav-link" data-bs-target="#userAdd"
                       data-bs-toggle="tab" id="tab2" role="tab" type="button">New user</a>
                </li>
            </ul>
            <div class="tab-content" id="panelTabContent">
                <div aria-labelledby="home-tab" class="tab-pane fade show active" id="userList" role="tabpanel"
                     tabindex="0">
                    <div class="card">
                        <div class="card-header">
                            <h4>All users</h4>
                        </div>
                        <div th:if="${userList.isEmpty()}">
                            <div>No data</div>
                        </div>
                        <div th:if="${!userList.isEmpty()}">
                            <div th:if="${userList.isEmpty()}">
                                <div>No data</div>
                            </div>
                            <div th:if="${!userList.isEmpty()}">
                                <table class="table table-striped" style="margin: 0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Last name</th>
                                        <th>Middle name</th>
                                        <th>Login</th>
                                        <th>Roles</th>
                                        <th>-</th>
                                        <th>-</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="user : ${userList}">
                                        <td th:text="${user.id}"></td>
                                        <td th:text="${user.name}"></td>
                                        <td th:text="${user.lastName}"></td>
                                        <td th:text="${user.middleName}"></td>
                                        <td th:text="${user.login}"></td>
                                        <td>
                                            <div th:each="role: ${user.roleSet}">
                                                <span th:text="${role.name}"></span>
                                            </div>
                                        </td>
                                        <td>
                                            <button class="btn btn-info" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#userUpdate' + user.id}" type="button">
                                                Edit
                                            </button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-bs-toggle="modal"
                                                    th:data-bs-target="${'#userRemove' + user.id}" type="button">
                                                Delete
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <div th:if="${!userList.isEmpty()}">
                                    <div th:each="userU : ${userList}">
                                        <div aria-hidden="true" class="modal fade" tabindex="-1"
                                             th:aria-labelledby="${'modalLabelU' + userU.id}"
                                             th:id="${'userUpdate' + userU.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Update user</h5>
                                                        <button aria-label="Close" class="close" data-bs-dismiss="modal"
                                                                type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <form method="post" th:action="@{/admin/save}"
                                                              th:id="${'formUpdate' + userU.id}" th:object="${user}">
                                                            <input th:name="id" th:value="${userU.id}" type="hidden"/>
                                                            <div class="form-group">
                                                                <label th:for="${'idU' + userU.id}">ID:</label>
                                                                <input class="form-control" disabled name="id"
                                                                       th:id="${'idU' + userU.id}"
                                                                       th:value="${userU.id}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'nameU' + userU.id}">Name:</label>
                                                                <input class="form-control" name="name"
                                                                       th:id="${'nameU' + userU.id}"
                                                                       th:value="${userU.name}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'lastNameU' + userU.id}">Last
                                                                    name:</label>
                                                                <input class="form-control" name="lastName"
                                                                       th:id="${'lastNameU' + userU.id}"
                                                                       th:value="${userU.lastName}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'middleNameU' + userU.id}">Middle
                                                                    name:</label>
                                                                <input class="form-control" name="middleName"
                                                                       th:id="${'middleNameU' + userU.id}"
                                                                       th:value="${userU.middleName}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'loginU' + userU.id}">Login:</label>
                                                                <input class="form-control" name="login"
                                                                       th:id="${'loginU' + userU.id}"
                                                                       th:value="${userU.login}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'passwordU' + userU.id}">Password:</label>
                                                                <input class="form-control" name="password"
                                                                       th:id="${'passwordU' + userU.id}"
                                                                       type="password"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'roleU' + userU.id}">Role:</label>
                                                                <select class="form-control" multiple name="roleSet"
                                                                        th:field="*{roleSet}"
                                                                        th:id="${'roleSetU' + userU.id}">
                                                                    <option value="1">ADMIN</option>
                                                                    <option value="2">USER</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                                type="button">Close
                                                        </button>
                                                        <button class="btn btn-info"
                                                                th:form="${'formUpdate' + userU.id}" type="submit">Save
                                                            changes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div th:if="${!userList.isEmpty()}">
                                    <div th:each="userR : ${userList}">
                                        <div aria-hidden="true" class="modal fade" tabindex="-1"
                                             th:aria-labelledby="${'modalLabelR' + userR.id}"
                                             th:id="${'userRemove' + userR.id}">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Remove user</h5>
                                                        <button aria-label="Close" class="close" data-bs-dismiss="modal"
                                                                type="button">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>
                                                        <form method="post"
                                                              th:action="@{/admin/remove/{id}(id=${userR.id})}"
                                                              th:id="${'formRemove' + userR.id}" th:object="${user}">
                                                            <div class="form-group">
                                                                <label th:for="${'idR' + userR.id}">ID:</label>
                                                                <input class="form-control" disabled
                                                                       th:id="${'idR' + userR.id}"
                                                                       th:value="${userR.id}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'nameR' + userR.id}">Name:</label>
                                                                <input class="form-control" disabled
                                                                       th:id="${'nameR' + userR.id}"
                                                                       th:value="${userR.name}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'lastNameR' + userR.id}">Last
                                                                    name:</label>
                                                                <input class="form-control" disabled
                                                                       th:id="${'lastNameR' + userR.id}"
                                                                       th:value="${userR.lastName}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'middleNameR' + userR.id}">Middle
                                                                    name:</label>
                                                                <input class="form-control" disabled
                                                                       th:id="${'middleNameR' + userR.id}"
                                                                       th:value="${userR.middleName}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'loginR' + userR.id}">Login:</label>
                                                                <input class="form-control" disabled
                                                                       th:id="${'loginR' + userR.id}"
                                                                       th:value="${userR.login}" type="text"/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'passwordR' + userR.id}">Password:</label>
                                                                <input class="form-control" disabled
                                                                       th:id="${'passwordR' + userR.id}" type="password"
                                                                       value=""/>
                                                            </div>
                                                            <div class="form-group">
                                                                <label th:for="${'roleR' + userR.id}">Role:</label>
                                                                <select class="form-control" disabled
                                                                        th:field="*{roleSet}"
                                                                        th:id="${'roleSetR' + userR.id}">
                                                                    <option value="1">ADMIN</option>
                                                                    <option value="2">USER</option>
                                                                </select>
                                                            </div>
                                                        </form>
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button class="btn btn-secondary" data-bs-dismiss="modal"
                                                                type="button">Close
                                                        </button>
                                                        <button class="btn btn-danger"
                                                                th:form="${'formRemove' + userR.id}" type="submit">
                                                            Remove
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="profile-tab" class="tab-pane fade" id="userAdd" role="tabpanel" tabindex="0">
                    <div class="card">
                        <div class="card-header">
                            <h4>Add new user</h4>
                        </div>
                        <div class="row">
                            <div class="col-4"></div>
                            <div class="col-4">
                                <form method="post" th:action="@{/admin/save}" th:object="${user}">
                                    <div class="form-group">
                                        <label for="nameC">Name:</label>
                                        <input class="form-control" id="nameC" th:field="*{name}" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="lastNameC">Last name:</label>
                                        <input class="form-control" id="lastNameC" th:field="*{lastName}" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="middleNameC">Middle name:</label>
                                        <input class="form-control" id="middleNameC" th:field="*{middleName}"
                                               type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="loginC">Login:</label>
                                        <input class="form-control" id="loginC" th:field="*{login}" type="text"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwordC">Password:</label>
                                        <input class="form-control" id="passwordC" th:field="*{password}"
                                               type="password"/>
                                    </div>
                                    <div class="form-group">
                                        <label for="roleC">Role:</label>
                                        <select class="form-control" id="roleC" multiple th:field="*{roleSet}">
                                            <option value="1">ADMIN</option>
                                            <option value="2">USER</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-primary" type="submit">Save</button>
                                    </div>
                                </form>
                            </div>
                            <div class="col-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/popper.js/2.9.3/umd/popper.min.js}" type="application/javascript"></script>
<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}" type="application/javascript"></script>
</body>
</html>